body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#segredo{
    border: 3px solid black;
    border-radius: 15px;
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 20px;
    padding-top: 0px;
}
#segredo > p{
    display: none;
    font-size: 20px;
    color: white;
}
#segredo:hover > p{
    display: block;
    background-color: red;
}

#teste > div{
    border: 2px solid red;
    margin: 10px;
    font-size: 30px;
    width: 50%;
    display: inline-block;
}
#teste > #t1:hover ~ #t3{
    background-color: black;
    color: white;
}