body{
    margin: 0;
    background-color: lightgrey;
}
.div_css{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    width: 150px;
    height: 250px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div_1{
    background-color: rgba(255, 0, 0);
    z-index: 0;
}
#div_2{
    background-color: rgba(21, 209, 21, 0.85);
    left: 100px;
    bottom: 100px;
    z-index: 10;
}
#div_3{
    background-color: rgba(17, 0, 255, 0.85);
    left: 200px;
    bottom: 200px;
    z-index: 40;
}
#div_4{
    background-color: rgb(255, 255, 0, 0.85);
    left: 100px;
    bottom: 300px;
    z-index: 30;
}
#div_5{
    background-color: rgb(238, 130, 238);
    bottom: 400px;
    z-index: 20;
}