body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.big_div{
    background-color: rgb(187, 179, 179);
    height: 300px;
}
.content{
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.content > span{
    background-color: rgb(44, 245, 44);
    border: 2px solid black;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}