body{
    background-color: black;
}
.pai{
    border: 3px solid red;
    height: 700px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.filho{
    border: 3px solid rgb(9, 199, 9);
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}