body{
    margin: 0px;
}
#main_div{
    border: 4px solid blue ;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    gap: 10px;
}
.teste{
    background-color: lightblue;
    border: 2px solid black;
    width: 200px;
    height: 150px;
}